* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(209, 143, 143);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}
